@model IEnumerable<Cinema_Client.MOVIES>

@{
    ViewBag.Title = "Filmy";
}

<h2><myTitle>Filmy</myTitle></h2>

<!DOCTYPE html>
<html>
<head>
    <style>
        .dropdown {
            position: relative;
            display: inline-block;
            right:auto;
        }

        .dropdown-content {
            display: none;
            position: absolute;
            background-color: #f9f9f9;
            box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
            z-index:3;
            top: -100px;
            left:60px;
        }

        .dropdown:hover .dropdown-content {
            display: block;
        }
    </style>
</head>
<body>
</body>
</html>

<table class="table table-hover" style="act">
    <tr>
        <th></th>
        <th>
            TYTUŁ
        </th>
        <th>
            GATUNEK
        </th>
        <th>
            CZAS TRWANIA
        </th>
        <th>
            WIEK
        </th>
        <th>
            PREMIERA
        </th>
        <th>
            REŻYSERIA
        </th>
        <th>
        </th>

    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                <!--<img src="item.IMAGE" alt="" style="width:auto; height:75px;">-->
                <div class="dropdown">
                    <img src="@item.IMAGE" alt="" style="width:50px; height:auto; z-index:1">
                    <div class="dropdown-content">
                        <img src="@item.IMAGE" alt="" style="width:auto; height:260px; z-index:3 ">
                    </div>
                </div>
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TITLE)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.GENRE)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RUNTIME)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RATING)
            </td>
            <td>
                @Convert.ToString(string.Format("{0:dd/MM/yyyy}", item.RELEASE_DATE))
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DIRECTION)
            </td>
            <td>
                @Html.ActionLink("Więcej", "Details", new { id = item.ID_MOVIE }, new { @class = "btn btn-default", @style= "margin-top: 3px; margin-bottom: 7px" })
                @if (Session["USER_LOGIN"] != null)
                {
                    @Html.ActionLink("Zarezerwuj", "Create", "Reservation", new { movieId = item.ID_MOVIE }, new { @class = "btn btn-default" })
                }
            </td>
        </tr>
    }
</table>
