@model IEnumerable<Cinema_Client.MOVIES>

@{
    ViewBag.Title = "Filmy";
}

<h2><myTitle>Filmy</myTitle></h2>

<table class="table">
    <tr>
        <th></th>
        <th>
            TYTUŁ
        </th>
        <th>
            GATUNEK
        </th>
        <th>
            CZAS TRWANIA
        </th>
        <th>
            WIEK
        </th>
        <th>
            PREMIERA
        </th>
        <th>
            REŻYSERIA
        </th>
        <th>
        </th>

    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                <img src="@item.IMAGE" alt="" style="width:auto; height:75px;">
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TITLE)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.GENRE)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RUNTIME)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RATING)
            </td>
            <td>
                @Convert.ToString(string.Format("{0:dd/MM/yyyy}", item.RELEASE_DATE))
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DIRECTION)
            </td>
            <td>
                @Html.ActionLink("Więcej", "Details", new { id = item.ID_MOVIE })
                <br />
                @Html.ActionLink("Zarezerwuj", "Details", new { id = item.ID_MOVIE })
            </td>
        </tr>
    }
</table>
