@model Cinema_Client.RESERVATIONS

@{
    ViewBag.Title = "Anulowanie rezerwacji";
}

<h2><myTitle>Anulowanie rezerwacji</myTitle></h2>

<h3>Czy na pewno chcesz anulować tę rezerwację?</h3>
<div>
    <myTitle>@Session["mTitle"]</myTitle>
    <h4>@Session["DateTimeHall"]</h4>

    <br />
    <table class="table-hover table" style="width: 30%">
        <tr>
            <th>
                RODZAJ BILETU
            </th>
            <th>
                MIEJSCE
            </th>
        </tr>

        @foreach (KeyValuePair<string, string> pair in (Dictionary<string, string>)@Session["seatTicket"])
        {
            <tr>
                <td>
                    @pair.Value
                </td>
                <td>
                    @pair.Key
                </td>
            </tr>
        }
    </table>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Anuluj rezerwację" class="btn btn-default" /> |
            @Html.ActionLink("Powrót do listy rezerwacji", "Index")
        </div>
    }
</div>
