@model Cinema_Client.RESERVATIONS

@{
    ViewBag.Title = "Szczegóły Rezerwacji";
}

<h2><myTitle>Szczegóły Rezerwacji</myTitle></h2>

<div>
    <hr />
    <table style="width: 70%">
        <tr>
            <td align="right" style="color: #cfcfcf"><b>TYTUŁ &ensp;&ensp;</td>
            <td> @Html.DisplayFor(model => model.PROGRAM.MOVIES.TITLE)</td>

            <td rowspan="5" valign="middle" align="right">
                <table class="table" align="center" style="width: 70%">
                    <tr>
                        <th>
                            MIEJSCE
                        </th>
                        <th>
                            BILET
                        </th>
                    </tr>
                    @foreach (KeyValuePair<string, TICKETS> item in (Dictionary<string, TICKETS>)ViewBag.RDetails)
                    {
                        <tr>
                            <td>
                                @item.Key
                            </td>
                            <td>
                                @item.Value.TYPE
                            </td>
                        </tr>
                    }
                </table>
                @using (Html.BeginForm("Next", "Reservation"))
                {
                    //Wysłanie 1) daty, godziny, sali, 3) siedzenia, rodzaju biletu
                    @Html.Hidden("DateTimeHall", Model.PROGRAM.DATE.ToShortDateString() + " " + Model.PROGRAM.TIME.ToString() + " Sala: " + Model.PROGRAM.ID_HALL.ToString())
                    @Html.Hidden("idres", Model.ID_RESERVATION)
                    Dictionary<string, TICKETS> seatTicket = ViewBag.RDetails;
                    string key;
                    string value;
                    foreach (var elem in seatTicket)
                    {
                        key = "seatTicket." + elem.Key;
                        value = elem.Value.TYPE;
                        @Html.Hidden(key, value)
                    }
                    <input type="submit" value="Edytuj" class="btn btn-default" style="margin-right:45px" />
                }

                <!--input type="submit" value="Edytuj" formaction='@Url.Action("Edytuj", "Edit")' class="btn btn-default" style="margin-left:400px; margin-top:16px" /--> 
</td>
        </tr>
        <tr>
            <td align="right" style="color: #cfcfcf"><b>DATA &ensp;&ensp;</td>
            <td>@Convert.ToString(string.Format("{0:dd/MM/yyyy}",Model.PROGRAM.DATE))</td>
        </tr>
        <tr>
            <td align="right" style="color: #cfcfcf"><b>GODZINA &ensp;&ensp;</td>
            <td>@Html.DisplayFor(model => model.PROGRAM.TIME)</td>
        </tr>

        <tr>
            <td align="right" style="color: #cfcfcf"><b>&nbsp;CZAS&nbsp;TRWANIA &ensp;&ensp;</td>
            <td>@Html.DisplayFor(model => model.PROGRAM.MOVIES.RUNTIME)</td>
        </tr>
        <tr>
            <td align="right" style="color: #cfcfcf"><b>SALA &ensp;&ensp;</td>
            <td>@Html.DisplayFor(model => model.PROGRAM.ID_HALL)</td>
        </tr>

    </table>
</div>
<br />
<p>
    @Html.ActionLink("Powrót do listy rezerwacji", "Index")
</p>
