
@{
    ViewBag.Title = "Next";
}

<script language="JavaScript" type="text/javascript">

    var numberOfSelectedSeats = 0;

    function ticektschange(name, enable) {
        if (enable.checked == false) {
            //zmiana poprzedniego
            enable.checked = true;
            document.getElementById(name)
                .style.display = "block";
            document.getElementById(name).selectedIndex = -1;
            numberOfSelectedSeats += 1;
        }
        else {
            enable.checked = false;
            document.getElementById(name)
               .style.display = "none";
            numberOfSelectedSeats -= 1;
            if(numberOfSelectedSeats==0)
            {
                document.getElementById("NextButton").disabled = true;
            }
        }
    }

    function selectedticket(menu) 
    {
        var result = menu.id.substring(2);
        document.getElementById(result).value = document.getElementById(result).id + " " + menu.value;
        menu.style.display = "none";
        document.getElementById("NextButton").disabled = false;
    }
</script> 


<h2><MyTitle>@Session["mTitle"]</MyTitle></h2>
<h4>@ViewBag.dateTimeHall</h4>

<br />
@using (Html.BeginForm())
{
<table class="table-hover table" style="width:unset" align="center">
    <tr>    
        <td colspan=3 class="noBorder" style="width:40px;"></td>   
        <td colspan="@ViewBag.screen" style="background-color:#000000; width:40px" align="center" class="noBorder"> EKRAN </td>
        <td colspan=3 class="noBorder" style="width:40px"></td>  
    </tr>

        @for (char i = 'A'; i <= @ViewBag.lastletter; i++)
        {
            <tr>
                <td align="center" style="vertical-align:middle">@i</td>
                @for (int j = 1; j <= @ViewBag.columns_No; j++)
                {
                    <td align="center" style="width:40px; vertical-align:middle">
                        <div class="btn-group">
                            <div class="squaredOne" data-toggle="dropdown">
                                <input type="checkbox" name="seat" value="@i@j" id="@i@j"/>
                                <label for="@i@j"  onclick="ticektschange('dl'+'@i@j' , document.getElementById('@i@j'))" style="vertical-align:middle">@j</label>
                            </div>
                            @Html.DropDownList("ticketstype", (SelectList)ViewBag.ticketstype, /*"-Select One-" ,*/ htmlAttributes: new { id = "dl"+@i+""+@j, @class = "dropdown-menu", @style = "display:none", @onchange = "selectedticket(this)" })
                        </div>
                    </td>
                }
                <td align="center" style="vertical-align:middle">@i</td>
            </tr>
        }
</table>

<input type="submit" id="NextButton" value="Dalej" formaction='@Url.Action("SummarySeats", "Reservation")' class="btn btn-default" disabled = "disabled"/>
}